.roundedM{
    border-radius: 10px;
}

.but:visited{
    color: blue;
}

.blueC{
    color:blue;
}
.blackC{
    color:black
}
.dropdown{
    visibility: hidden;
}
.dropdown:hover{
    visibility: visible;

}



